	<div ng-include="'partial/adminInterface.html'"></div>

<div class="row" ng-controller="createUeUser as store">
	<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
		<h1> Create a session </h1>
	<div>
		<table class="userUeList">
			<tr>
				<th colspan="2"><!-- ng-class="{'has-success':data.favoriteList.id && !data.favoriteList.restError, 'has-error':data.favoriteList.restError.name}"-->
				  <input type="text"
						 name="group"
						 placeholder="Session name"
						 class="form-control"
						 ng-model="session.name"/>
				</th>
				<th class="action"> </th>
			</tr>
			<tr>
				<th>
					<label>
						<input type="checkbox" ng-model="session.withGroupDiv"/> With groupDiv
					</label>
				</th>
			</tr>
			<tr>
				<th> Name of the user </th>
				<th> Name of the course </th>
				<th class="action"> </th>
			</tr>
			<tr ng-repeat="ue in session.ues">
				<td>
					<input type="text"  class="form-control" value="{{ue.title}}" ng-model="ue.title"/> 
				</td>
				<td>
					<input type="text"  class="form-control" value="{{ue.author.name}}" ng-model="ue.author.name"/> 
				</td>
				<td class="action"><button class="btn btn-danger" ng-click="deleteUe(ue);"><span class="glyphicon glyphicon-trash" ></span></button></td> <!--ng-click="deleteMember(member);" tooltip="{{ 'action.favoriteList.deleteMember' | translate }} "-->
			</tr>
			<tr>
				<th class="cell-lg" colspan="3">
				  <div>
					<button class="btn btn-info" ng-click="addUe();"> <span class="glyphicon glyphicon-plus" ></span> &nbsp; Add a user </button>
				  </div>
				</th>
			</tr>
		</table>
		</div>
		<div class="text-center">
			<button class="btn btn-info" ng-click="createSession(session);"><!--ng-click="newFavoriteList()--> <span class=" glyphicon glyphicon-ok"></span>&nbsp; Create the session</button>
		</div>
	</div>

</div>

