<div ng-include="'partial/adminInterface.html'"></div>
<div ng-hide="sessionChoosen">
	<center>
		<h2 class="text-center page-header">{{ 'CHOOSE_SESSION_WATCH' | translate }} : </h2>
			<form>
				<select ng-selected="sessions[0]" ng-model="selectedSession" ng-options="session.id as session.name for session in sessions">
					<option value="">-- {{ 'SELECT_OPTION' | translate }}--</option>
				</select>
				<input type="button" value="Ok" ng-click="chooseSession()"/>
			</form>
	</center>
</div>
<div ng-show="sessionChoosen">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2 class="text-center page-header"> {{ 'LINKS_TITLE' | translate }}</h2>
					<center>
						<div ng-repeat="user in users">
							<a href="{{hostLink}}{{user.id}}/{{selectedSession}}"> {{ 'LINK_FOR' | translate }} {{user.name}} : {{hostLink}}{{user.id}}/{{selectedSession}} </a>
						</div>
					</center>
				<h2 class="text-center page-header">{{ 'XP_RESULT' | translate }}</h2>

				<center>

					<table>
						<tr>
							<td>
								<p>Refresh auto : </p>
							</td>
							<td>
								<div class="onoffswitch">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="autoRefresh" ng-model="onOff" ng-init="onOff=true" ng-click="setManualRefresh()" checked/>
									<label class="onoffswitch-label" for="autoRefresh">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</td>
							<td>
								<input type="button" value="Refresh" ng-show="refresh.manualRefreshLog" ng-click="updateLog()"/>
							</td>
						</tr>
					</table>

					<form>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="checkedStepGraph" ng-click="visibilityStepGraph(checkedStepGraph)" /> {{ 'SHOW_SG' | translate }}
							</label>
							<label>
								<input type="checkbox" ng-model="checkedCurve" ng-click="visibilityCurve(checkedCurve)" /> {{ 'SHOW_SC' | translate }}
							</label>
						</div>
						<h4>{{ 'SHOW_STATS_OF' | translate }} :</h4>
						<div class="checkbox" >
							<label ng-repeat="user in users">
								<input type="checkbox" ng-model="user.select" ng-init="user.select=true" ng-click="admin.watchDivergence(user.name)" ng-checked="true" />{{user.name}}
							</label>
						</div>
					</form>
				</center>

				<div ng-init="init_plot()">
					<div class="row">
						<div class="col-md-12">
							<div class="check-element animate-show" ng-show="checkedStepGraph">
								<h2 class="text-center page-header">{{ 'SG' | translate }}</h2>
								<div id="stepGraph" style="width:95%; height:300px" ></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="check-element animate-show" ng-show="checkedCurve">
								<h2 class="text-center page-header">{{ 'SC' | translate }}</h2>
								<div id="curve" style="width:95%; height:300px"></div>
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h2 class="text-center page-header">{{ 'DIV_STATS_AND_VALUES' | translate }}</h2>
						<center>
							<table class="table-bordered" id="divergenceArray">
								<thead>
									<tr >
										<th ng-repeat="user in users" class="check-element animate-show" ng-show=user.select style="width:5em;"> {{ user.name }}</th>
									</tr>
								</thead>

								<tbody class="scrollArray">
									<tr>
										<td ng-repeat="user in users" class="check-element animate-show" ng-show=user.select>

											<table>
												<td>
													<tr ng-repeat="div in getData(user.name)" >
														<td style="width:5em;">{{ div[1] }}</td>
													</tr>
												</td>
											</table>

										</td>
									</tr>
								</tbody>
							</table>
						</center>
					</div>
				</div>
			</div>

			<div class="col-md-6" >
				<div ng-include="'partial/seeUEAndReview.html'"></div>
			</div>

		</div>
	</div>
</div>
