<div ng-include="'partial/adminInterface.html'"></div>
<div ng-controller="modifySession">
	<div ng-hide="sessionChoosen">
		<center>
			<h2 class="text-center page-header">{{ 'CHOOSE_SESSION_MODIFY' | translate }} : </h2>

				<form>
					<select ng-selected="sessions[0]" ng-model="selectedSession" ng-options="session.id as session.name for session in sessions">
						<option value="">-- {{ 'SELECT_OPTION' | translate }}--</option>
					</select>
					<input type="button" value="Ok" ng-click="chooseSession()"/>
				</form>
		</center>
	</div>
<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
	<div ng-show="sessionChoosen">
		<h2> Session : {{ name }} </h2>
		<table class="userUeList">
			<tr>
				<th colspan="2"><!-- ng-class="{'has-success':data.favoriteList.id && !data.favoriteList.restError, 'has-error':data.favoriteList.restError.name}"-->
				  <input type="text"
						 name="group"
						 class="form-control"
						 ng-model="new_.sessionName"/> 
				</th>
				<th class="action"> </th>
			</tr>
			<tr>
				<th>
					<label>
						<input type="checkbox" ng-model="new_.useGroupDiv"/> {{ 'WITH_GD' | translate }}
					</label>
				</th>
			</tr>
			<tr>
				<th> {{ 'USER_NAME' | translate }} </th>
				<th> {{ 'COURSE_NAME' | translate }} </th>
				<th class="action"> </th>
			</tr>
			<tr ng-repeat="oneUE in ues ">
				<td>
					<input type="text"  class="form-control" ng-model="users[oneUE.authorId].name" ng-change="updateUE(oneUE)"/> 
				</td>
				<td>
					<input type="text"  class="form-control"  ng-model="oneUE.title" ng-change="updateUE(oneUE)"/> 
				</td>
				<td class="action"><button class="btn btn-danger" ng-click="deleteUe(oneUE);"><span class="glyphicon glyphicon-trash" ></span></button></td> 
			</tr>
			<tr>
				<th class="cell-lg" colspan="3">
				  <div>
					<button class="btn btn-info" ng-click="addUe();"> <span class="glyphicon glyphicon-plus" ></span> &nbsp; {{ 'ADD_USER' | translate }} </button>
				  </div>
				</th>
			</tr>
		</table>
		<div class="text-center">
			<button class="btn btn-info" ng-click="modifySession();"><span class=" glyphicon glyphicon-ok"></span>&nbsp; {{ 'MODIFY_SESSION' | translate }}</button>
		</div>

	</div>
</div>
</div>
