	<center><h2 class="page-header">Description de l'UE : web sémantique</h2></center>

    <h3 class="sub-header">Description de L'UE</h3>
	<form name="reviewForm">
		<textarea></textarea>
		<button type="button" class="btn btn-primary">Post</button>
	</form>
	<h3 class="sub-header">Reviews</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>N° User</th>
					<th>Review</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>J'ai trouvé ça completement nul!</td>
				</tr>
			</tbody>
		</table>
    </div>
