<center>
	<h2 class="page-header">{{ 'UE_DESCRIPTION' | translate }} : {{currentUE.title}}</h2>
</center>

<h3 class="sub-header">{{ 'UE_DESCRIPTION' | translate }}</h3>
<form name="reviewForm">
	<div class="jumbotron">
	<textarea class="form-control" ng-model="currentUE.content" rows="20"></textarea>
	<p>
		<button class="btn btn-primary btn-lg pull-right" type="submit" style="margin-top:5px;" ng-click="postUE()">{{ 'POST' | translate }}</button>
	</p>
</div>
</form>
<div ng-include="'partial/reviews.html'"></div>
