<center>
	<h2 class="page-header">Description de l'UE : web sémantique</h2>
</center>

<h3 class="sub-header">Description de L'UE</h3>
<form name="reviewForm">
	<div class="jumbotron">
	<textarea class="form-control" rows="20"></textarea>
	<p>
		<button class="btn btn-primary btn-lg pull-right" type="submit" style="margin-top:5px;">Post</button>
	</p>
</div>
</form>
<h3 class="sub-header">Reviews</h3>
<div class="table-responsive">
	<table class="table table-striped" width=10%>
		<thead>
			<tr>
				<th>Id User</th>
				<th>Review</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>User 1</td>
				<td>J'ai trouvé ça completement nul!</td>
			</tr>
						<tr>
				<td>User 2</td>
				<td>C'est pas mal !</td>
			</tr>
						<tr>
				<td>User 5</td>
				<td>1 VS 1!</td>
			</tr>
						<tr>
				<td>User 2</td>
				<td>Arretez de troller !</td>
			</tr>

		</tbody>
	</table>
</div>
