    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">GroupDiv</a>
        </div>
      </div>
    </nav>

<div ng-controller="choicesController">
	<a ng-href="#/user">
		<button class="btn btn-primary btn-lg btn-block" ng-href="#/user" ng-click="loadUserInterface();" ng-show="choice">User</button>
	</a>
	<a ng-href="#/adminView">
		<button class="btn btn-primary btn-lg btn-block" ng-href="#/admin" ng-click="loadAdminInterface();" ng-show="choice">Admin</button>
	</a>

    

</div>
