<select class="form-control" ng-model="selectedUE.sel" ng-options="ue as ue.title for ue in ues"></select>

<h2 class="text-center page-header">{{ 'UE_REVIEWS' | translate }} : {{selectedUE.sel.title}}</h2>

<div class="jumbotron">
	<div class="servive-block servive-block-grey">
		<h3 class="sub-header">{{ 'UE_DESCRIPTION' | translate }}</h3>
		<form name="reviewForm">
			<textarea class="form-control" ng-model="selectedUE.sel.content" rows="20" readonly="readonly"></textarea>
		</form>
		<div ng-include="'partial/reviews.html'"></div>
	</div>
</div>

<h3 class="sub-header">{{ 'YOUR_REVIEW' | translate }}</h3>
<form class="input-group input-group-lg">
	<input type="text" class="form-control" ng-model="reviews.reviewToPost"/>
	<span class="input-group-btn">
		<button type="submit" class="btn btn-primary btn-lg" ng-click="postReview()">{{ 'POST' | translate }}</button>
	</span>
</form>
