
<h2 class="text-center page-header">{{ 'CHOOSE_UE_WATCH' | translate }} :</h2>

<select class="form-control" id="selectReview">
	<option value="value1">UE 1</option>
	<option value="value2">UE 2</option>
	<option value="value3">UE 3</option>
</select>

<h2 class="text-center page-header">{{ 'CANDR_UE_SESSION' | translate }} : AZERTY</h2>

<div class="jumbotron">
	<div class="servive-block servive-block-grey">
		<h3 class="sub-header">{{ 'UE_DESCRIPTION' | translate }}</h3>
		<form name="reviewForm">
			<textarea class="form-control" rows="20" readonly></textarea>
		</form>
		<div ng-include="'partial/reviews.html'"></div>
	</div>
</div>
