
<h2 class="text-center page-header">Choisir une UE à surveiller :</h2>

<select class="form-control" id="selectReview">
	<option value="value1">UE 1</option>
	<option value="value2">UE 2</option>
	<option value="value3">UE 3</option>
</select>

<h2 class="text-center page-header">Fiches UE et review de la session : AZERTY</h2>

<div class="jumbotron">
	<div class="servive-block servive-block-grey">
		<h3 class="sub-header">Description de l'UE</h3>
		<form name="reviewForm">
			<textarea class="form-control" rows="20" readonly></textarea>
		</form>
		<h3 class="sub-header">Reviews</h3>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>N° User</th>
					<th>Review</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>User 1</td>
					<td>Coucou! arrete de regarder mon gros review houlalalalallalalalalallalalala</td>
				</tr>
				<tr>
					<td>User 2</td>
					<td>C'est pas mal !</td>
				</tr>
				<tr>
					<td>User 5</td>
					<td>1 VS 1!</td>
				</tr>
				<tr>
					<td>User 2</td>
					<td>Arretez de troller !</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
